* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000;
    color: #fff;
}

.container {
    position: relative;
    overflow: hidden;
    width: 80%;
    max-width: 2300px;
}

.slider {
    display: flex;
    transition: transform 0.4s ease-in-out;
    gap: 24px;
}

.watch-item {
    min-width: calc(25% - 20px);
    box-sizing: border-box;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(30px);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.watch-image {
    width: 150px;
    height: 150px;
    border-radius: 30px;
    object-fit: cover;
    margin-bottom: 15px;
}

.watch-price {
    font-size: 1.15rem;
    color: #e3e3e3;
    font-weight: 500;
    margin: 10px 0px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

#prev, #next {
    pointer-events: all;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#prev {
    left: 0px;
}

#next {
    right: 0px;
}

.button {
    pointer-events: all;
    background: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s, transform 0.2s;
    position: relative;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.button:hover {
    opacity: 1;
    transform: scale(1.1);
}

#dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    opacity: 0.5;
}

.dot.active {
    opacity: 1;
}
